name: assignment-test

on:
  push:
  pull_request:

jobs:
  unit-test:
    runs-on: ubuntu-latest
    container: cuaesd/aesd-autotest:24-unit-test
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Make scripts executable
        run: chmod +x *.sh

      - name: Run unit test
        run: ./unit-test.sh

  full-test:
    runs-on: ubuntu-latest
    container: cuaesd/aesd-autotest:24-assignment2
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Make scripts executable
        run: chmod +x *.sh

      - name: Run full test
        run: ./full-test.sh
